@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    background-color: #222222;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: none;
    scroll-behavior: smooth;
    color: #fff;
}

.main-wrapper {
    height: 100%;
    width: 100%;
}

.main-border {
    position: fixed;
    width: 100%;
    background: none;
    transition:background 0.5s;
    z-index: 2;
}

.main-head-border {
    background: #E4E4E4;
    transition:background 0.5s;
    z-index: 11;
}

.background-img {
    position: absolute;
    height: 70%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    object-position: 0px -350px;
}

#background-img-blured {
    opacity: 0;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

nav .logo-img {
    margin: 2%;
    width: 180px;
    flex: 0;
}

nav ul {
    margin: 25px 0px;
    text-align: right;
    flex: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    transition: all 0.3s;
}

nav ul li:hover {
    transform: scale(1.1,1.1);
    transition: all 0.3s;
}

nav ul li a {
    color: #E4E4E4;
    text-decoration: none;
    font-size: 20px;
}

.main-content {
    height: 60%;
    width: 100%;
    position: absolute;
    transform: translateY(130%);
    z-index: 10;
    align-items: center;
}

.main-content .logo-wrapper {
    text-align: center;
}

.main-content .logos {
    display: inline-block;
    width: 100%;
    margin: 0px 0px;
}

.main-content .logos ul li {
    color: #fff;
    list-style: none;
    display: inline-block;
    margin: 0% 10%;
}

.main-content .logos ul li img {
    width: min-content;
    height: min-content;
    height: 140px;
    width: 140px;
    user-select: none;
    -webkit-user-drag: none;
}

.main-content .table-wrapper {
    text-align: center;
    margin-top: 6%;
}

.table {
    display: inline-block;
    margin: 0px 0px;
}

.table tr td {
    padding: 20px 70px;
}

table tr td p {
    color: #DDD;
    font-size: 25px;
}

.image {
    border-radius: 30px;
    width: 270px;
    user-select: none;
}

#img-retro {
    transform: translateX(3000%);
}

#img-highscore {
    transform: translateX(-3000%);
}

#img-unity {
    transform: translateX(3000%);
}

.main-bottom {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: calc(-100% - 950px);
}

.main-bottom .banner {
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #111;
    position: absolute;
}

.main-bottom .banner .content {
    margin: 70px 50px;
    text-align: center;
}

.main-bottom .banner .content ul {
    display: inline-block;
    text-align: left;
}

.main-bottom .banner .content ul li {
    list-style: none;
    display: inline-block;
    margin: 5px 130px;
}

.main-bottom .banner .content ul li h {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #E4E4E4;
}

.main-bottom .banner .content ul li c {
    font-size: 20px;
    color: #A4A4A4;
}

.enter-hall-banner {
    margin-top: 120px;
    background-color: #111;
    width: 100%;
    height: 500px;
    position: relative;
}

#button-enter {
    z-index: 5;
    font-size: 40px;
    border-width: 20px;
    background-color: #045757;
    border-color: #045757;
    color: #111;
    border-radius: 35px;
    border-style: solid;
    position: absolute;
    margin-left: calc(50% - 300px/2); /* 300 stands for the width of the button */
    margin-top: calc(500px/2 - 100px/2); /* 500 -> height of banner | 100 -> height of button*/
    transition: all 0.2s;
    background-size: 30%;
}

#button-enter:hover {
    background-color: #044e4e;
    border-color: #044e4e;
    transform: scale(102%);
    transition: all 0.2s;
}

#img-banner-enter {
    opacity: 50%;
    object-fit: cover;
    height: 500px;
    width: 100%;
    filter: blur(2px);
    transition: all .5s;
}

#img-banner-enter:hover {
    filter: blur(0px);
    transition: all 1s;
}

.img-banner-enter-zoom {
    transition: all .5s;
}

.main-bottom a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #a4a4a4;
}
