body {
    background-color: #222222;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: none;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.main-wrapper {
    height: 0;
    width: 0;
    text-align: center;
}

.main-head {
    position: fixed;
    width: 100%;
    background: none;
    transition:background 0.5s;
    z-index: 2;
}

.main-head-border {
    background: #E4E4E4;
    transition:background 0.5s;
}

#start-arcade-button {
    transform-origin: center;
    position: absolute;
    font-size: 40px;
    border-radius: 50px;
    border-width: 10px;
    margin:  300px 500px;
    background: #045757;
    border-color: #045757;
    border-style: solid;
    box-shadow: inset;
    transition: all 0.5s;
    overflow: hidden;
}

#start-arcade-button:hover {
    transform-origin: center;
    transform: scale(1.1,1.1);
    transition: all 0.5s;
}

#background-img-blured {
    opacity: 0;
}

.background-img {
    position: absolute;
    height: 70%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    object-position: 0px -350px;
}

nav {
    display: flex;
    align-items: center;
}

nav .logo-img {
    margin: 20px;
    width: 180px;
    flex: 0;
}

nav ul {
    margin-right: 50px;
    text-align: right;
    flex: 1;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    transition: all 0.3s;
}
nav ul li:hover {
    transform: scale(1.1,1.1);
    transition: all 0.3s;
}

nav ul li a {
    color: #E4E4E4;
    text-decoration: none;
    font-size: 20px;
}

.table {
    position: absolute;
    align-items: center;
    margin-top: 55%;
    height: 20%;
}

.table-column {
    height: 100px;
    width: 300px;
}

table tr td p {
    color: #E4E4E4;
    font-size: 25px;
}
